{
  "singleQuote": true,
  "bracketSpacing": true,
  "arrowParens": "always",
  "semi": true,
  "tabWidth": 2,
  "printWidth": 120,
  "useTabs": false,
  "trailingComma": "all",
  "bracketSameLine": true,
  "endOfLine": "crlf"
}
